* {
  margin: 0;
  font-family: "Comic Neue", cursive;
}

.app {
  width: 100vw;
  min-height: 100vh;
  --main-bg-color: rgb(213, 240, 193, 0.8);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "header"
    "game"
    "footer";
}

header {
  grid-area: header;
  background-color: var(--main-bg-color);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  grid-area: footer;
  background-color: var(--main-bg-color);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  grid-area: game;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "status status"
    "board history";
}

.status {
  grid-area: status;
}

.board {
  grid-area: board;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  width: 300px;
  height: 300px;
}

td {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  padding: 0;
}

td.vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

td.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

button.table-item {
  width: 100%;
  height: 100%;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.history {
  grid-area: history;
}

@media screen and (max-width: 992px) {
  .game {
    grid-area: game;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
      "status"
      "board"
      "history";
  }
}
